<div class="navbar">
	<div class="navbar-inner centered">
		<div class="navbar-buttons">
			<div class="btn-group two-button">
				<a href="#" class="btn" data-bind="tap: loadSelectedGroup">About</a>
				<a href="#" class="btn btn-primary">Messages</a>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs nav-stacked">
				<!-- ko foreach: selectedGroupMessages -->
					<li class="message">
						<a href="#" data-bind="click: $root.viewMessage">
							<h4 data-bind="text:Message.message"></h4>
							<p data-bind="text:Group.name">Group Name</p>
						</a>
					</li>
				<!-- /ko -->
			</ul>
		</div>
	</div>
</div>