<div class="span12">
	<form id="reply_form" data-bind="with: selectedMessage" >
		<label for="reply_text">Reply</label>
		<input type="hidden" name="data[Reply][from_user_id]" data-bind="value: $root.user().user().id" />
		<input type="hidden" name="data[Reply][to_user_id]" data-bind="value: Message.user_id" />
		<input type="hidden" name="data[Reply][message_id]" data-bind="value: Message.id" />
		<textarea name="data[Reply][reply]" class="required"></textarea>
		<input type="submit" value="Send Reply" class="btn btn-large btn-primary btn-block" />
	</form>
</div>