<div class="content">
	<div class="row-fluid">
		<div class="span12">
			<div data-bind="with: selectedAdmin">
				<h4 data-bind="text: Group.name">Group name</h4>
				<p>Select Followers to grant Admin privileges (sending Messages to Followers etc.)</p>
				<div data-bind="visible: Follower.length > 0">
					<p data-bind="text: 'Followers (' + Follower.length + ')'">Followers</p>
					<div class="approvals">
					<!-- ko foreach: Follower -->	
						<!-- ko if: GroupAdmin.length > 0 -->
						<a class="btn btn-block approval admin" data-bind="tap: $root.checkAdmin, attr:{ id: 'admin-'+id}">
							<i class="icon-check"></i> <span data-bind="text: first_name + ' ' + last_name">Name</span>
						</a>
						<!-- /ko -->
						<!-- ko ifnot: GroupAdmin.length > 0 -->
						<a class="btn btn-block approval admin" data-bind="tap: $root.checkAdmin, attr:{ id: 'admin-'+id}">
							<i class="icon-check-empty"></i> <span data-bind="text: first_name + ' ' + last_name">Name</span>
						</a>
						<!-- /ko -->
					<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>