<div class="span12">
	<div data-bind="with: selectedSubGroup">
		<h4 data-bind="text: Group.name">Group name</h4>
		<h6 data-bind="text: 'Sub-Group: '+GroupSegment.title+' ('+$root.subgroupcount()+')'">Group Name</h6>
		<p>Check the Followers that you want in this Sub-Group.</p>
		<div data-bind="visible: Group.Follower.length > 0">
			<div class="approvals">
			<!-- ko foreach: Group.Follower -->	
				<a class="btn btn-block approval admin" data-bind="tap: $root.checkSubGroupMember, attr:{ id: 'subgroup-'+id}">
					<i data-bind="attr: {class:cssclass}"></i> <span data-bind="text: first_name + ' ' + last_name">Name</span>
				</a>
			<!-- /ko -->
			</div>
		</div>
		<a href="#" class="btn btn-block" data-bind="tap: $root.deleteSubGroup">Delete Sub-Group</a>
	</div>
</div>