<div class="span12">
	<form id="user_profile" method="post" action="" data-bind="with: user().user">
		<input id="user_profile_id" name="data[User][id]" type="hidden" class="required" data-bind="value:id">
		<label for="user_profile_first_name">First Name:</label>
		<input id="user_profile_first_name" name="data[User][first_name]" type="text" class="required" data-bind="value:first_name">
		<label for="user_profile_last_name">Last Name:</label>
		<input id="user_profile_last_name" name="data[User][last_name]" type="text" class="required" data-bind="value:last_name">
		<label for="user_profile_zipcode">Zipcode:</label>
		<input id="user_profile_zipcode" name="data[User][zip]" type="text" class="required" data-bind="value:zip">
		<input type="submit" value="Save Profile" class="btn btn-primary btn-block btn-large" />
	</form>
</div>