<div class="span12">
	<div id="logo" class="centered">
		<img src="img/logo.png">
	</div>
	<form id="login_form">
		<input type="hidden" name="data[Device][iostoken]" data-bind="attr:{ value: iosToken }"/>
		<input type="hidden" name="data[Device][registrationid]" data-bind="attr:{ value: registrationId }"/>
		<label for="login_email">Email:</label>
		<input id="login_email" name="data[User][email]" type="email" class="required">
		<label for="login_passwd">Password:</label>
		<input id="login_passwd" name="data[User][passwd]" type="password" class="required">
		<div class="btn-group two-button">
			<a href="#" class="btn btn-large" data-bind="tap: loadRegister">Register</a>
			<input type="submit" value="Login" class="btn btn-primary btn-large" />
		</div>
	</form>
</div>