<div class="content">
	<div class="row-fluid">
		<div class="span12">
			<div id="logo" class="centered">
				<img src="img/logo.png">
			</div>
			<form id="user_reset">
				<label for="reset_email">Email:</label>
				<input id="reset_email" name="data[User][email]" type="email" class="required span12">
				<div class="btn-group two-button">
					<a href="#" class="btn btn-large" data-bind="tap: loadLogin">Back to Login</a>
					<input type="submit" value="Reset My Password" class="btn btn-primary btn-large" />
				</div>
			</form>
		</div>
	</div>
</div>