<div class="content">
	<div class="row-fluid">
		<div class="span12">
			<div data-bind="visible: searchResults().length == 0">
				<h4>Find an existing group</h4>
				<p>Type in part or all of Group name + City</p>
			</div>
			<div class="form">
				<form id="group_search_form">
					<input type="text" name="data[Group][search]" placeholder="Name of group"/>
					<input type="text" name="data[Group][city]" placeholder="Name of city"/>
					<input type="submit" value="Search" class="btn btn-block btn-large btn-primary">
				</form>
			</div>
			<ul id="admin_listing" class="nav nav-tabs nav-stacked">
				<li class="nav-header">Search Results</li>
				<!-- ko foreach: searchResults -->
				<li>
					<a href="#" data-bind="click: $root.loadSearchGroup">
						<h4 data-bind="text: Group.name">Group Name</h4>
						<p data-bind="text: Group.city+', '+Group.state">City, State</p>
					</a>
				</li>
				<!-- /ko -->
			</ul>
			<div>
				<a class="btn btn-block btn-large" href="#" data-bind="tap: loadAddGroup">Create a new Group</a>
			</div>
		</div>
	</div>
</div>